{
  "parser": "@babel/eslint-parser",
  "parserOptions": {
    "sourceType": "module",
    "allowImportExportEverywhere": true,
    "requireConfigFile": false
  },
  "plugins": ["prettier"],
  "settings": {
    "react": {
      "version": "detect"
    },
    "jest": {
      "version": 27
    }
  },
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended",
    "plugin:jest/recommended",
    "plugin:jest/style"
  ],
  "env": {
    "node": true,
    "commonjs": true,
    "browser": true,
    "es6": true,
    "jest": true
  },
  "rules": {
    "react/prop-types": "off",
    "react/react-in-jsx-scope": "off",
    "no-unused-vars": [
      "error",
      {
        "ignoreRestSiblings": true
      }
    ],
    "prettier/prettier": "error"
  }
}
